<div class="bg-light main-container">
    <div class="container py-5">
      <div class="text-center">
          <h1>We make Indian equities simple and available<br/>
            for everyone, everywhere…</h1>
          <h3>We are redefining what investing in Indian stocks looks like</h3>  
      </div>
      <div class="row justify-content-between mt-4">
        <div class="col-md-5 col-sm-10">
            <div class="d-flex">
                <i class="fa fa-check-circle pe-4" style="color:#6dc78f; font-size: 30px;"></i>
                <h3 class="font-weight-bolder pt-1"><strong>The future of investing</strong></h3>
            </div>
            <div class="pt-3">
                <p>Investment assistants are the future. SIC is on the forefront of enabling investment advisors 
                    and technology disruptors to deliver best of technology and finest transactional platforms.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-10">
            <div class="d-flex">
                <div class="card col-4 p-4 shadow border-0">
                    <i class="fa fa-cloud text-center" style="color:#6dc78f; font-size: 40px;"></i>
                    <p class="text-center pt-3 small"><strong>Advanced Software</strong></p>
                </div>
                <div class="card col-4 p-4 shadow border-0">
                    <i class="fa fa-cloud text-center" style="color:#6dc78f; font-size: 40px;"></i>
                    <p class="text-center pt-3 small"><strong>Cloud Technology</strong></p>
                </div>
                <div class="card p-4 col-4 shadow border-0">
                    <i class="fa fa-cloud text-center" style="color:#6dc78f; font-size: 40px;"></i>
                    <p class="text-center pt-3 small"><strong>Scaleable Plans</strong></p>
                </div>
            </div>
        </div>
      </div>
      <div class="row justify-content-between mt-4">
        <div class="col-md-5 col-sm-10">
            <div class="d-flex">
                <i class="fa fa-check-circle pe-4" style="color:#6dc78f; font-size: 30px;"></i>
                <h3 class="font-weight-bolder pt-1"><strong>Changing the financial service domain</strong></h3>
            </div>
            <div class="pt-3">
                <p>With ready to use platforms like SIC Robo, we are challenging the status-quo of financial services.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-10">
            <div class="d-flex">
                <div class="card col-4 p-4 shadow border-0">
                    <i class="fa fa-cloud text-center" style="color:#6dc78f; font-size: 40px;"></i>
                    <p class="text-center pt-3 small"><strong>Empowering investors</strong></p>
                </div>
                <div class="card col-4 p-4 shadow border-0">
                    <i class="fa fa-cloud text-center" style="color:#6dc78f; font-size: 40px;"></i>
                    <p class="text-center pt-3 small"><strong>Secure environment</strong></p>
                </div>
                <div class="card col-4 p-4 shadow border-0">
                    <i class="fa fa-cloud text-center" style="color:#6dc78f; font-size: 40px;"></i>
                    <p class="text-center pt-3 small"><strong>AI Enabled Chatbots</strong></p>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<!-- -------------- -->
<div class="container py-5">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <div class="card border-0">
                <img src="../../../assets/images/brand.png" class="img-responsive card-img-top" />
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-11 mx-auto mt-4">
            <div class="d-flex">
                <i class="fa fa-check-circle pe-4" style="color:#6dc78f; font-size: 38px;"></i>
                <h2 class="font-weight-bolder pt-2"><strong>Seamless White Labels</strong></h2>
            </div>
            <div class="pt-3">
                <p>Suitable for intermediaries and sub-brokers, we have opened up our SIC Robo platform so you can serve your customers right under your own brand. Benefit from fully featured Quantitative analysis, 
                    an AI powered chatbot and a world-classs broking platform. All at no extra cost.</p>
                <a href="http://www.sicrobo.com/"target="_blank"  class="mt-3 link">Click Here to Know More about SIC Robo</a>    
            </div>
        </div>    
    </div>
    <div class="row justify-content-between pt-4">
        <div class="col-md-6 col-sm-12 col-11 mx-auto">
            <div class="d-flex">
                <i class="fa fa-check-circle pe-4" style="color:#6dc78f; font-size: 38px;"></i>
                <h2 class="font-weight-bolder pt-2"><strong>Simple & Incredibly Powerful APIs</strong></h2>
            </div>
            <div class="pt-3">
                <p>Are you a technology product or an App company looking to integrate with a world class transaction platform in Indian equities. SIC powers some of the world’s leading Investment Apps through it’s industry leading REST APIs and CRM frameworks. 
                    A true brokerage as service, the first of it’s kind in India.</p>
                <a href="https://invstr.com/" target="_blank" class="mt-3 link">INVSTR – A Success Story</a>    
            </div>
        </div>  
        <div class="col-md-6 col-sm-12 col-11 mx-auto">
            <div class="card border-0">
                <img src="../../../assets/images/techstack.png" class="img-responsive h-100" />
            </div>
        </div>  
    </div>
    <div class="row justify-content-between pt-5">
        <div class="col-md-6 col-sm-12 col-11 mx-auto">
            <div class="card border-0">
                <img src="../../../assets/images/MTbanner.jpg" class="img-responsive card-img-top" />
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-11 mx-auto mt-4">
            <div class="d-flex">
                <i class="fa fa-check-circle pe-4" style="color:#6dc78f; font-size: 38px;"></i>
                <h2 class="font-weight-bolder pt-2"><strong>Broking, and more…</strong></h2>
            </div>
            <div class="pt-3">
                <p>Whether you need a simple execution platform or personalised dealer, 
                    CSB House is at your service with Livesquawk powered services. A relationship based broking house, CSB boasts a wide range of clientele ranging from ultra high net worth individuals, housewives to retired families.
                </p>
                <a href="http://www.csbhouse.com/" target="_blank" class="mt-3 link">Click Here to Know More about SIC Robo</a>    
            </div>
        </div>    
    </div>
</div>
