.banner-font{
    font-size: 4rem;
}
.card-container{
    min-height: 50px;
}
.card-image {
    object-fit: contain !important;
}
.description-height {
    min-height: 130px;
}
.card-container{
    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: white;
        .card-title{
            color: #0B3B5B; 
        }
    }
}

@media (max-width: 500px) {
    .smart-payment-container{
        padding-top: 4%;
    }
}