<div class="bg-light">
    <div class="container pt-5 pb-4">
    <div class="text-center">
        <p>© 2022 SIC Stocks &amp; Services Pvt. Ltd. All rights reserved.</p>
        <p class="">BSE:INB011180339 Clearing Code:922 | BSE F & O: INB011180339 Clearing Code:922 |</p>
        <p class="" >NSE:INB231180333 Clearing code:11803 BgSE:INB231074130 | CDSL DP ID:12052800 |</p>
        <p class="">ARN No:78631 | MCX SX regn No: INB 261180336</p>
    </div>
    <div class="px-2 mt-2 mb-2">
        <marquee class="">
            <p>Exchanges / Depository: Prevent Unauthorized Transactions in your Trading / Demat account –> Update your Mobile Numbers / email IDs with your Stock Brokers / Depository Participant. Receive alerts on your Registered Mobile / email IDs for trading account transactions and all debit and other important transactions in your demat account directly from Exchange / CDSL on the same day</p>
            <p>Issued in the interest of Investors.” KYC : “KYC is one time exercise while dealing in securities markets – once KYC is done through a SEBI registered intermediary (broker, DP, Mutual Fund etc.), you need not undergo the same process again when you approach another intermediary.</p>
            <p>No need to issue cheques by investors while subscribing to IPO. Just write the bank account number and sign in the application form to authorise your bank to make payment in case of allotment. No worries for refund as the money remain in investor’s account.</p>
        </marquee>
    </div>
</div>
</div>